html, body, #canvas {
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

.bottom-buttons {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 5px;
}

.bottom-buttons .pjs-buttons {
  align-items: center;
}

.bottom-buttons a:hover {
  color: #555;
}

.bottom-buttons a.active {
  opacity: 1.0;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

/* screen interaction helpers & modal */

#io-dialog-main{
  display:none; /*default*/
}

#io-editing-tools-buttons {
  display: block;
  position: fixed;
  top:0px;
  right: 0px;
  padding: 5px;
  margin: 0;
}

#io-editing-tools-buttons button:hover {
    color: #333333;
}

#io-editing-tools-buttons .pjs-buttons {
  justify-content: flex-end;
}

#io-editing-tools-buttons .pjs-buttons form select {
  color: black;
  background-color: #f8f8f8;
  border-radius: 3px;
  display: inline-block;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border: solid 1px #cdcdcd;
  height: 35px;
  cursor: pointer;
}

#io-editing-tools-buttons .pjs-buttons form select:hover {
  color: #2e2e2e;
}

#io-editing-tools-buttons .pjs-buttons form select:focus {
  outline: none;
}

#io-editing-tools-buttons .pjs-buttons form option {
  color: black;
  font-weight: normal;
  text-align: left;
  cursor: pointer;
}

.icon-keyboard {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2em;
}

.icon-keyboard::before {
  content: '\f11c';
  display: inline-block;
  line-height: 1.2em;
}

.icon-resize-full {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2em;
}

.icon-resize-full::before {
  content: '\f31e';
  display: inline-block;
}

.keybindings-dialog .binding {
	padding: 5px 10px;
	font-family: monospace;
}

.djs-popup-title {
  margin-right: 6px !important;
  font-size: 12px !important;
}

.djs-popup-header {
  gap: 8px;
}

.button-active {
  color: hsl(205, 100%, 50%) !important;
}